.shell1 .main{
    width: 400px;
    height: 600px;
    /* border: 3px solid black; */
    position: absolute;
    /* left: calc(50%-100px);
    top:calc(50%-150px); */
    left: 150px;
    top: 50px;
     transform: rotate(-90deg);
} 
.shell1 .contain{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    transform-style: preserve-3d;
    /* perspective: 1000px; */
    animation: run 10s linear infinite;
}
.shell1 .contain .item{
    width: 100%;
    height: 100%;
    position: absolute;
    border: black solid 2px;
}
.shell1 .contain .item img{
    width: 100%;
    height: 100%;
}
.shell1 .contain .item:nth-child(2){
    transform: rotateX(45deg);
}
.shell1 .contain .item:nth-child(3){
    transform: rotateX(-45deg);
}
.shell1 .contain .item:nth-child(3){
    transform: rotateX(90deg);
}
@keyframes run{
    0%{
        transform:   perspective(1000px) rotateX(0deg);
    }
    100%{
        transform: perspective(1000px) rotateX(360deg);
    }
}
header{
    width: 1470px;
    height: 600px;
    background-color: rgb(141, 48, 25);
} 
header .text1{
    font-size: 150px;
    font-weight: bold;
    writing-mode:vertical-rl;
    font-family: "华文行楷";
    background-image: url(../images2/4.png);
    background-size: 500px 400px;
    border-radius: 50%;
    position: absolute;
    left: 770px;
    top: 20px;
    width: 500px;
}
header .text2{
    font-size: 30px;
    line-height: 34px;
    font-weight: lighter;
    writing-mode:vertical-rl;
    font-family: "华文行楷";
    position: absolute;
    left: 1086px;
    top: 379px;
    width: 334px;
    height: 197px;
}
header p{
    margin-right: 70px;
}
/* 头部。。。。。。。。。。。。。。。。。。。。。。。。。。。。 */

*{
    margin: 0;padding: 0;box-sizing: border-box;
}
article {
    width: 1470px;
     position: absolute;
    top: 600px;  
    /* position: relative;
    top: 750px; */
    overflow: visible;
}
aside {
    float: left;
    width: 180px;
    height:100vh;
    position: sticky;
    top: 0;
    padding: 20px;
    overflow-y: auto;
}
section{
    float: right;
    width: 1250px;
    height: 3000px;
}
 ul{
    padding: 0;
    margin: 0;
}
li{
    padding: 10px 0;
} 
aside .shell2{
    width: 130px;
    height: 600px;
    display: flex;
     flex-direction: column; 
}
aside .box{
    overflow: hidden;
    flex: 1;
    transition: 0.5s;
    margin: 10px 0px;
    box-shadow: 10px 10px 20px rgba(0,0,0, 0.5);
    border-radius: 10px;
    border: solid beige 7px;
    background-color: beige;
}
aside .box>a img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: 0.5s;
}
aside .box>span{
    font:100 10px '优设标题黑';
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20%;
    display: flex;
}
aside .box:hover{
    flex-basis: 40%;
}
aside .box:hover>img{
    width: 100%;
    height: 100%;
}

/* 导航栏。。。。。。。。。。。。。。。。。。。。。。。。。。。。 */

.shell3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: grid;
    grid-template-rows: 500px 200px;
}
.shell3 .box{
    grid-row: 1/2;
    grid-column: 1/8;
    width: 1250px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 800px;
    --items:5;
    --middle:3;
    --position:1;
}
.shell3 .box .item{
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: orchid;
    --r:calc(var(--position) - var(--offset));
    --abs:max(calc(var(--r) * -1),var(--r));
    transition: all 0.25s linear;
    transform:rotateY(calc(-10deg * var(--r))) translateX(calc(-380px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    background-size: cover;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.6);
    border: white 10px solid;
    border-radius: 5px;
}
input{
    width: 35px;
    height: 35px;
    margin: 10px;
}
.box .item:nth-of-type(1){
    --offset:1;
    background-image: url(../images2/6.png);
}
.box .item:nth-of-type(2){
    --offset:2;
    background-image: url(../images2/2.png);
}
.box .item:nth-of-type(3){
    --offset:3;
    background-image: url(../images2/3.png);
}
.box .item:nth-of-type(4){
    --offset:4;
    background-image: url(../images2/4.png);
}
.box .item:nth-of-type(5){
    --offset:5;
    background-image: url(../images2/5.png);
}
input:nth-of-type(1){
    grid-column: 2/3;
    grid-row: 2/3;
}
input:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 2/3;
}
input:nth-of-type(3){
    grid-column: 4/5;
    grid-row: 2/3;
}
input:nth-of-type(4){
    grid-column: 5/6;
    grid-row: 2/3;
}
input:nth-of-type(5){
    grid-column: 6/7;
    grid-row: 2/3;
}
input:nth-of-type(1):checked~.box{
    --position:1;
}
input:nth-of-type(2):checked~.box{
    --position:2;
}
input:nth-of-type(3):checked~.box{
    --position:3;
}
input:nth-of-type(4):checked~.box{
    --position:4;
}
input:nth-of-type(5):checked~.box{
    --position:5;
}
/* 绘画板块。。。。。。。。。。。。。。。。。。。。。。。。。。 */

.shell4{
    width: 1100px;
    height: 200px;
    background-color: rgb(133, 44, 22);
    border-radius: 50px;
    margin-left: 50px;
    padding: 20px 20px;
}
.shell4 .text h2{
    font-size: 40px;
    font-weight: bold;
    font-family: "华文行楷";
    margin-left: 40px;
}
.shell4 .text p{
    font-size: 25px;
    font-weight: lighter;
    font-family: "华文行楷";
}

/* 。。。。。。。。。。。。。。。。。。。。。。。。。。 */

.shell5{
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 300px;
    max-height: 250px;
    margin: 0 auto;
    color: aliceblue;
    perspective: 1000px;
    transform-origin: center;
}
.shell5 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 9s infinite cubic-bezier(0.77, 0,0.175,1) forwards;
}
.shell5 .item{
    position: absolute;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-size: cover;
    -webkit-box-reflect: below 25px -webkit-linear-gradiant(transparent 50%,rgba(255,255,255,0.3));
}
.shell5 .item:nth-child(1){
    background-image: url(../images2/9.jpg);
    transform: rotateY(0) translateZ(35vw);
}
.shell5 .item:nth-child(2){
    background-image: url(../images2/12.jpg);
    transform: rotateY(120deg) translateZ(35vw);
}
.shell5 .item:nth-child(3){
    background-image: url(../images2/13.jpg);
    transform: rotateY(240deg) translateZ(35vw);
}
@keyframes carousel{
    0%,
    17.5%{
        transform: translateZ(-35vw) rotateY(0);
    }
    27.5%,
    45%{
        transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%,
    72.5%{
        transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%,
    100%{
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}  


.shell6{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shell6 .box{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
}
.shell6 .box .box-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.shell6 .box .box-img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shell6 .box:hover{
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    z-index: 1;
}