.overlay{
    font-family: "华文行楷";
    font-size: 25px;
}
.zi{
    width: 45px;
    height: 100px;
    position: absolute;
    font-size: 30px;
    font-family:"幼圆";
    color: azure;
    text-align: center;
    top: 600px;
    left: 800px;
    border: 2px solid rgb(119, 34, 26);
    background-color: brown;
    border-radius: 20%;
}