.back{
  position: absolute;
  background-color: transparent;
  background: rgba(92, 81, 81, 0.7);
  z-index: 999;
  color: azure;
} 
.daoright{
  position: relative;
} 
#dd{
    position:relative;
    margin: 20px;
    width: auto;
  }
  
  /* 导航栏 */
.bb {
    overflow: hidden;
    width: 100%;
    height:40px;
    vertical-align: middle;
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 0%;
    margin: auto auto;
  }
  
  /* 导航栏链接 */
.bb dd {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.bb dd:hover {
    background-color: #20a86d;
    color: black;
  }
.bb ul li{
  float:left;
  list-style: none;
  margin-left:3px;
}
.bb li{
   float: left;
    margin-right: 30px;
    list-style-type: none;
}
.one{
  color: aliceblue;
  margin-left: -760px;
  font-family: "华文行楷";
  font-size:28px;
}
.two{
  color: aliceblue;
  margin-left: -660px;
  font-family: "华文行楷";
  font-size:28px;

}
.three{
  color: aliceblue;
  margin-left: -560px;
  font-family: "华文行楷";
  font-size:28px;

}
.four{
  color: aliceblue;
  margin-left: -460px;
  font-family: "华文行楷";
  font-size:28px;

}
.five{
  color: aliceblue;
  margin-left: -360px;
  font-family: "华文行楷";
  font-size:28px;

}
.six{
  color: aliceblue;
  margin-left: -260px;
  font-family: "华文行楷";
  font-size:28px;

}
.seven{
  color: aliceblue;
  margin-left: -160px;
  font-family: "华文行楷";
  font-size:28px;

}
.eight{
  color: aliceblue;
  margin-left: -60px;
  font-family: "华文行楷";
  font-size:28px;

}
.bb a{
	text-decoration:none;
  color: rgb(245, 243, 243);
  display: block;
}
.bb a:hover{
    text-decoration: underline;
    color: rgb(172, 29, 7);
}
a:link{
  
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
.dd{
  position: fixed;
  width: 100%;
  right: 0;
}