@font-face {
    font-family: "iconfont"; /* Project id 4583111 */
    src: url('https://at.alicdn.com/t/c/font_4583111_led745zzja.woff2?t=1718196285565') format('woff2'),
         url('https://at.alicdn.com/t/c/font_4583111_led745zzja.woff?t=1718196285565') format('woff'),
         url('https://at.alicdn.com/t/c/font_4583111_led745zzja.ttf?t=1718196285565') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-shouye:before {
    content: "\e635";
  }
  
  .icon-message:before {
    content: "\e609";
  }
  
  .icon-sousuo:before {
    content: "\e60c";
  }

  ul {
    list-style-type: none;
  }
  
.daoright li:nth-of-type(1):before {
    font-family: "iconfont";
    content: "\e635";
  }
  .daoright li:nth-of-type(2):before {
    font-family: "iconfont";
    content: "\e609";
  }
  .daoright li:nth-of-type(3):before {
    font-family: "iconfont";
    content: "\e60c";
  }
  .daoright li{
    float: left;
    margin-right: 30px;
  }
.tubiao{
    position: relative;
    top: 10px;
    left:30px;
}
.navleft{
    position: absolute;
    left: 90px;
    top: 30px;
    font-family: "华文行楷";
    font-size: 20px;
}
.back ul{
    margin-left: 1000px;
    margin-top: -20px;
}
.calendar-box{
  font-family: "楷体";
  font-size: 18px;
  position: relative;
  display: inline-block;
  padding-right: 52px;
  vertical-align: middle;
}