body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(60deg,rgb(119, 34, 26),rgb(92, 26, 26)); 
    background-position: center 0; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}
.up{
	position: absolute;
	top: 120px;
	left: 1400px;
}
.ml2{
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    font-family: "华文行楷";
}
.ml2 .letter{
    display: inline-block;
    line-height: 1em;
}
.box{
    width: 1200px;
    height: auto;
}
div .one{
    background-color: #bcae96;
    left: 130px;
    top: 440px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.two{
    background-color: #872d2a;
    left: 275px;
    top: 510px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.three{
    background-color: #a98480;
    left: 475px;
    top: 275px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.four{
    background-color: #414c7b;
    left: 621px;
    top: 375px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.five{
    background-color: #9099b6;
    left: 621px;
    top: 605px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.six{
    background-color: #b33434;
    left: 766px;
    top: 460px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.seven{
    background-color: #83a68f;
    left: 911px;
    top: 480px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.eight{
    background-color: #93695f;
    left: 1090px;
    top: 240px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.nine{
    background-color: #af3131;
    left: 1190px;
    top: 540px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.ten{
    background-color: #9099b9;
    left: 1336px;
    top: 400px;
    margin-top: -110px;
    position: absolute;
    width: 9.52%;
    height: 230px;
    text-align: center;
    box-shadow: 0px 0px 38px 0px rgba(4, 1, 1, 0.4);
}
.p{
    color: azure;

}
.p a{
  text-decoration:none;
  color: rgb(211, 191, 191);
  display: block;
}
.p a:hover{
    text-decoration: none;
    color: rgb(155, 52, 36);
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
.one{
	/* 从上至下动画效果 */
	animation: one .8s;
}
 
@keyframes one {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes one {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.two{
	/* 从上至下动画效果 */
	animation: one .6s linear 0.2s;
}
 
@keyframes two {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes two {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.three{
	/* 从上至下动画效果 */
	animation: one .6s linear 0.4s;
}
 
@keyframes three {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes three {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.four{
	/* 从上至下动画效果 */
	animation: one .5s linear 0.6s;
}
 
@keyframes four {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes four {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.five{
	/* 从上至下动画效果 */
	animation: one .5s linear 0.7s;
}
 
@keyframes five {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes five {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.six{
	/* 从上至下动画效果 */
	animation: one .5s linear 0.8s;
}
 
@keyframes six {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes six {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.seven{
	/* 从上至下动画效果 */
	animation: one .5s linear 0.9s;
}
 
@keyframes seven {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes seven {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.eight{
	/* 从上至下动画效果 */
	animation: one .5s linear 1s;
}
 
@keyframes eight {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes eight {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.nine{
	/* 从上至下动画效果 */
	animation: one .5s linear 1.2s;
}
 
@keyframes nine {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes nine {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
.ten{
	/* 从上至下动画效果 */
	animation: one .5s linear 1.4s;
}
 
@keyframes ten {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
 
	100% {
		transform: none;
		transform: none;
		opacity: 1;
	}
}
@keyframes ten {
	0% {
		transform: translate3d(0, -20%, 0);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}